<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>961359328033-2ajpc2405b6mrcg5m9ufu8tlsk4ek2pj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961359328033-2ajpc2405b6mrcg5m9ufu8tlsk4ek2pj</string>
	<key>API_KEY</key>
	<string>AIzaSyCTHEHihgrqmkbyPDalWhl6DtZBfjqS2G4</string>
	<key>GCM_SENDER_ID</key>
	<string>961359328033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Feelicity.Feelicity</string>
	<key>PROJECT_ID</key>
	<string>feelicity-3b11d</string>
	<key>STORAGE_BUCKET</key>
	<string>feelicity-3b11d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961359328033:ios:4a27b6886d96e0fc</string>
	<key>DATABASE_URL</key>
	<string>https://feelicity-3b11d.firebaseio.com</string>
</dict>
</plist>